@import "assets/reset.css";
@import "assets/global.css";

/* Constants */
:root {
  /* theme: light */
  --main-container-background: #eee;
}

[theme="dark"] {
  --main-container-background: #111;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.2em;
  text-align: center;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;

  margin-top: 1em;
}

#loading-container {
  max-width: 40em;
  width: 80%;

  background: var(--main-container-background);
  padding: 2em;

  &.hidden {
    display: none;
  }
}

#main-container {
  max-width: 40em;
  width: 80%;

  background: var(--main-container-background);
  padding: 2em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;

  &.hidden {
    display: none;
  }

  h1 {
    font-size: 1.2em;
    text-align: left;
  }

  .section {
    background: var(--main-container-background);
    padding: 1em;

    display: flex;
    flex-direction: column;
    gap: 1em;

    h2 {
      font-size: 1em;
      font-weight: bold;
      text-align: left;
    }

    p {
      display: flex;
      gap: 1em;

      input[type="text"],
      textarea {
        flex: 1;
      }
    }
  }

  .option-chart-public-enabled {
    &.hidden {
      display: none;
    }
  }
}

#file-properties-public-preview {
  flex-direction: column;
}

#public-preview {
  height: 20em;
}

#preview {
  cursor: pointer;
}
