/* Constants */
:root {
  /* theme: light */
  --information-flow-step-title-background: #eee;
  --github-background: #000;
}

[theme="dark"] {
  --information-flow-step-title-background: #111;
  --github-background: #fff;
}

/* Page-wide styles */
body {
  position: fixed;
  overflow: hidden;
}

/* Below the header content */
#content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  position: fixed;
  top: var(--header-height);
  left: 0;
  width: 100%;
  height: calc(100vh - var(--header-height));
}

/* Menu on the left of the content */
#toolbox {
  padding: 0.5em;
  overflow-y: scroll;
  background: var(--toolbox-background);

  .operations {
    display: grid;
    grid-template-columns: 3em 3em;
    grid-auto-rows: 3em;
    column-gap: 0.5em;
    row-gap: 0.5em;

    button {
      position: relative;

      &.selected {
        border: 2px solid #666;
        outline: 2px solid #aaa;
      }

      &.hidden {
        display: none;
      }

      .keyboard {
        position: absolute;
        right: 1px;
        bottom: 0;
        color: #888;
      }
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .separator {
    border-top: solid 1px #bbb;
    margin: 1em 0.5em;
  }

  .separator-with-title {
    font-size: 0.75em;
    margin: 1em 0;
    text-align: center;

    &::before,
    &::after {
      display: inline-block;
      content: "";
      border-top: 1px solid #bbb;
      width: 1em;
      margin: 0 0.25em;
      transform: translateY(-0.25em);
    }
  }
}

/* Canvas on the right of the content */
#canvas {
  flex-shrink: 1;
  flex-grow: 1;
  overflow: hidden;
}

/* Display the title of the current keyframe, if any. */
#information-flow-step-title {
  position: absolute;
  top: 0.5em;
  width: 60%;
  text-align: center;
  padding: 0.5em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  min-height: 1em;
  border: 1px solid #888;

  background: var(--information-flow-step-title-background);

  &.hidden {
    display: none;
  }
}

/* Modal showing the JSON of the chart */
#json-editor {
  width: 80%;
  height: 80%;

  .content {
    height: 100%;

    textarea {
      flex: 1;
      resize: none;
    }
  }
}

/* Modal to edit the title of a system */
#input-set-title-dialog {
  max-width: 30em;
  max-height: 20em;
  width: 80%;
  height: 80%;

  .content {
    height: 100%;

    textarea {
      flex: 1;
      resize: none;
      font-size: 2em;
    }
  }
}

/* Modal to edit the title of a step */
#input-flow-step-set-title-dialog {
  width: 60%;
}

/* Modal to choose a color to paint */
#input-set-color-dialog {
  max-width: 40em;
  max-height: 30em;
  width: 80%;
  height: 80%;

  .content {
    height: 100%;

    .colors {
      display: grid;
      grid-template-columns: repeat(auto-fill, 5em);
      grid-gap: 0.5em;
      justify-content: space-between;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        width: 5em;
        height: 5em;

        outline: 1px #aaa solid;

        &:hover {
          cursor: pointer;
          outline: 1px #000 solid;
        }
      }
    }
  }
}

/* Modal to choose a theme */
#theme {
  max-width: 20em;
  max-height: 10em;
  width: 80%;
  height: 80%;

  .content {
    height: 100%;

    .themes {
      display: grid;
      grid-template-columns: repeat(auto-fill, 5em);
      grid-gap: 0.5em;
      justify-content: space-between;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        width: 5em;
        height: 5em;

        outline: 1px #aaa solid;

        &:hover {
          cursor: pointer;
          outline: 1px #000 solid;
        }
      }
    }
  }
}

/* Modal to show about */
#about {
  max-width: 30em;
  max-height: 22em;
  width: 80%;
  height: 80%;
}

/* Modal to show about & privacy */
#privacy {
  max-width: 30em;
  max-height: 17em;
  width: 80%;
  height: 80%;
}

/* Modal to show the guide */
#guide {
  .content {
    table {
      margin: 1em;
      border: 1px solid #000;

      tr {
        height: 2em;
      }

      td,
      th {
        vertical-align: middle;
        border-bottom: 1px solid #000;
        padding: 0.5em;
      }

      td:first-child {
        text-align: center;
        width: 4em;
      }

      caption {
        font-weight: bold;
        height: 2em;
      }
    }
  }
}

/* Link to Github */
#github {
  margin-left: auto;
  margin-right: 1em;

  svg {
    width: 1.5em;

    path {
      fill: var(--github-background);
    }
  }
}

/* Banner shown when the save data is loading */
#save-data-is-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--color);
  background: var(--background);

  border: 1px solid #888;
  padding: 1em;

  width: 6em;

  &.hidden {
    display: none;
  }
}

#file-from-disk {
  display: none;
}
