@import "assets/global.css";

/* Constants */
:root {
  /* theme: light */
  --plus-color: #fff;
  --privacy-section-background: #eee;
}

[theme="dark"] {
  --plus-color: #000;
  --privacy-section-background: #111;
}

/* Page-wide styles */
body {
  position: fixed;
  overflow: hidden;
}

/* Below the header content */
#content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  position: fixed;
  top: var(--header-height);
  left: 0;
  width: 100%;
  height: calc(100vh - var(--header-height));
}

/* Menu of tools on the left of the content */
#toolbox {
  padding: 0.5em;
  overflow-y: scroll;
  background: var(--toolbox-background);
  display: flex;
  flex-direction: column;

  .operations {
    display: grid;
    grid-template-columns: 3em 3em;
    grid-auto-rows: 3em;
    column-gap: 0.5em;
    row-gap: 0.5em;

    button {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      position: relative;

      &.selected {
        border: 2px solid #666;
        outline: 2px solid #aaa;
      }

      &.hidden {
        display: none;
      }

      .keyboard {
        font-size: 0.8em;
        position: absolute;
        right: 1px;
        bottom: 0;
        color: #888;
      }
    }

    &.properties {
      grid-template-columns: 2em 2em 2em;
      grid-auto-rows: 2em;
      column-gap: 0.25em;
    }

    &.hidden {
      display: none;
    }
  }

  /*  Push the camera operations at the end of the container. */
  .separator-camera {
    margin: 1em 0.5em;
    margin-top: auto;
    padding-top: 1em;
    border-bottom: solid 1px #bbb;
  }

  .separator {
    border-top: solid 1px #bbb;
    margin: 1em 0.5em;
  }

  .separator-with-title {
    font-size: 0.75em;
    margin: 1em 0;
    text-align: center;

    &::before,
    &::after {
      display: inline-block;
      content: "";
      border-top: 1px solid #bbb;
      width: 1em;
      margin: 0 0.25em;
      transform: translateY(-0.25em);
    }

    &.hidden {
      display: none;
    }
  }
}

/* Canvas on the right of the content */
#canvas {
  flex-shrink: 1;
  flex-grow: 1;
  overflow: hidden;
}

/* Modal showing the JSON of the chart */
#json-editor {
  width: 80%;
  height: 80%;

  .content {
    height: 100%;

    textarea {
      flex: 1;
      resize: none;
    }
  }
}

/* Modal to edit the title of a system */
#input-set-title-dialog {
  min-width: 30em;
  min-height: 10em;

  max-width: 90%;
  max-height: 90%;

  .content {
    height: 100%;

    .editor-container {
      display: flex;
      gap: 0.5em;

      .editor-wrapper {
        display: grid;
        width: 100%;

        &::after {
          content: attr(data-replicated-value) " ";
          white-space: pre-wrap;
          visibility: hidden;
        }

        .editor {
          resize: none;
          overflow: hidden;
        }

        .editor,
        &::after {
          border: 1px solid var(--input-border-color);
          padding: 0.5em;
          font: inherit;
          grid-area: 1 / 1 / 2 / 2;
        }
      }

      .styling {
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        .styling-fonts {
          display: flex;
          gap: 0.25em;

          label {
            cursor: pointer;
          }
        }

        .styling-aligns {
          display: flex;
          gap: 0.25em;
        }

        .styling-decoration {
          font-size: 0.75em;
        }

        .styling-icons {
          display: flex;
          flex-wrap: wrap;
          max-width: 10em;
          gap: 0.25em;
        }
      }
    }
  }
}

/* Modal to choose a color to paint */
#input-set-color-dialog {
  max-width: 40em;
  width: 80%;

  .content {
    height: 100%;

    .colors {
      display: grid;
      grid-template-columns: repeat(auto-fill, 5em);
      grid-gap: 0.5em;
      justify-content: space-between;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        width: 5em;
        height: 5em;

        outline: 1px #aaa solid;

        &:hover {
          cursor: pointer;
          outline: 1px #000 solid;
        }
      }
    }
  }
}

/* Modal to choose a theme */
#theme {
  max-width: 20em;
  width: 80%;

  .content {
    height: 100%;

    .themes {
      display: grid;
      grid-template-columns: repeat(auto-fill, 5em);
      grid-gap: 0.5em;
      justify-content: space-between;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        width: 5em;
        height: 5em;

        outline: 1px #aaa solid;

        &:hover {
          cursor: pointer;
          outline: 1px #000 solid;
        }
      }
    }
  }
}

/* Modal to show about */
#about {
  max-width: 30em;
  width: 80%;
}

/* Modal to show feedback */
#feedback {
  max-width: 30em;
  width: 80%;

  #feedback-content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  textarea {
    min-height: 10em;
  }
}

/* Modal to show about & privacy */
#privacy {
  max-width: 30em;
  width: 80%;

  .section {
    background: var(--privacy-section-background);
    padding: 1em;

    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
}

/* Modal to show the guide */
#guide {
  .content {
    table {
      margin: 1em;
      border: 1px solid #000;

      tr {
        height: 2em;
      }

      td,
      th {
        vertical-align: middle;
        border-bottom: 1px solid #000;
        padding: 0.5em;
      }

      td:first-child {
        text-align: center;
        width: 4em;
      }

      caption {
        font-weight: bold;
        height: 2em;
      }
    }
  }
}

/* Banner shown when the save data is loading */
#save-data-is-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--color);
  background: var(--background);

  border: 1px solid #888;
  padding: 1em;

  width: 6em;

  &.hidden {
    display: none;
  }
}

#file-from-disk {
  display: none;
}

#plus {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gg-plus-gradiant 10s ease infinite;
  border: 1px solid #000;
  color: var(--plus-color);
  cursor: pointer;
  font-weight: bold;
}

@keyframes gg-plus-gradiant {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#file-properties {
  h2 {
    font-weight: bold;
  }
}

#operation-connectivity-status-open {
  color: #3cb44b;

  &.warning {
    color: #f58231;
  }

  &.alert {
    color: #e6194b;
  }
}

#connectivity-status-dialog {
  max-width: 40em;
  width: 80%;

  #connectivity-status-details {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}
