@import "assets/reset.css";

/*
 * Fonts
 */

@font-face {
  font-family: JetBrains Mono;
  font-style: normal;
  font-weight: 400;
  src: url("../public/jetbrains-regular.woff2") format("woff2");
}

@font-face {
  font-family: Arimo Regular;
  font-style: normal;
  font-weight: 400;
  src: url("../public/arimo-regular.woff2") format("woff2");
}

/* Constants */
:root {
  --header-height: 5em;
}

#header {
  position: sticky;
  height: var(--header-height);

  #header-logo {
    svg {
      width: 4em;
    }
  }

  #header-content {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    padding: 0.5em;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;

    #header-right {
      margin-left: auto;
      margin-right: 1em;

      height: var(--header-height);

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  a {
    text-decoration: none;
  }
}

/* Page-wide styles */
body {
  width: 100%;

  font-family: JetBrains Mono;

  background-image: linear-gradient(to right, #80808012 1px, transparent 1px),
    linear-gradient(to bottom, #80808012 1px, transparent 1px);

  background-size: 24px 24px;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

/* Page-wide styles for buttons */
button {
  font-family: JetBrains Mono;

  /* Show a pointer icon over buttons */
  cursor: pointer;

  /* Remove 300ms delay on mobile */
  touch-action: none;

  border-radius: 3px;

  &.primary {
    font-weight: bold;

    color: #ffffff;
    background: #3a86ff;
    padding: 1em;
    border: 0;

    &:hover {
      background: #2358ad;
    }

    &:active, &:pressed {
      background: #2358ad;
    }
  }

  &.secondary {
    font-weight: bold;

    color: #000000;
    background: #ffffff;
    padding: 1em;
    border: 1px solid #3a86ff;

    &:hover {
      color: #ffffff;
      background: #3a86ff;
    }

    &:active, &:pressed {
      background: #2358ad;
    }
  }
}

h1 {
  font-size: 4vmax;
}

h2 {
  font-size: 2vmax;
  line-height: 2.5vmax;
}

h5 {
  font-size: 1.2vmax;
  opacity: 0.6;
  line-height: 1.5vmax;
}

.gg {
  font-family: JetBrains Mono;
  background: black;
  color: white;
  padding: 0.1em 0.1em 0.3em 0.1em;
}

mark-yellow {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  box-decoration-break: clone;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(255, 225, 0, 0.1),
    rgba(255, 225, 0, 0.7) 4%,
    rgba(255, 225, 0, 0.3)
  );
}

mark-green {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  box-decoration-break: clone;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(128, 237, 153, 0.1),
    rgba(128, 237, 153, 0.7) 4%,
    rgba(128, 237, 153, 0.3)
  );
}

mark-blue {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  box-decoration-break: clone;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(76, 201, 240, 0.1),
    rgba(76, 201, 240, 0.7) 4%,
    rgba(76, 201, 240, 0.3)
  );
}

#intro {
  margin-top: var(--header-height);

  max-width: 80%;
  width: 100%;
  margin: 4em auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4vmax;

  /* Mobile */
  @media screen and (max-width: 600px) {
    margin: 2em auto;
    flex-direction: column;
  }

  #intro-text {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5vmax;

    button {
      min-width: 10vmax;
    }
  }

  #intro-image {
    img {
      max-width: 100%;
      box-shadow: 10px 20px 20px grey;
    }
  }

  #intro-actions {
    a {
      text-decoration: none;
    }
  }
}

#features {
  background: #eee;
  padding-top: 1vmax;
  padding-bottom: 2vmax;

  .outer-container {
    max-width: 80%;
    width: 100%;
    margin: 1em auto;

    .title {
      display: flex;
      justify-content: center;
      font-size: 2.5vmax;
      margin: 3vmax 0;
    }

    .inner-container {
      font-family: Arimo Regular;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 4vmax;

      /* Mobile */
      @media screen and (max-width: 600px) {
        flex-direction: column;
      }

      .content-left {
        img {
          max-width: 100%;
          box-shadow: -5px 5px 25px gray;
        }
      }

      .content-right {
        min-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 2vmax;

        .content {
          display: flex;
          flex-direction: column;
          gap: 1vmax;

          .content-title {
            font-size: 2vmax;
            font-weight: bold;
          }

          .content-text {
            font-size: 1vmax;
            line-height: 1.5vmax;
          }
        }
      }

      /* Mobile */
      @media screen and (max-width: 600px) {
        .content-right {
          gap: 4vmax;

          .content {
            gap: 2vmax;

            .content-title {
              font-size: 3vmax;
            }

            .content-text {
              font-size: 2vmax;
              line-height: 2.8vmax;
            }
          }
        }
      }
    }
  }
}

#more-features {
  background: #dfdfdf;
  padding-top: 1vmax;
  padding-bottom: 2vmax;

  .outer-container {
    max-width: 80%;
    width: 100%;
    margin: 1em auto;

    .title {
      display: flex;
      justify-content: center;
      font-size: 2.5vmax;
      margin: 3vmax;
    }

    .inner-container {
      font-family: Arimo Regular;

      display: grid;
      max-width: 50vmax;
      margin: 0 auto;
      grid-template-columns: repeat(2, 1fr);
      gap: 2vmax;

      .content {
        display: flex;
        flex-direction: column;
        gap: 1vmax;

        .content-title {
          font-size: 1.5vmax;
          font-weight: bold;
          text-align: center;
        }

        .content-text {
          font-size: 1vmax;
          line-height: 1.5vmax;
          text-align: center;
        }
      }
    }

    /* Mobile */
    @media screen and (max-width: 600px) {
      .inner-container {
        grid-template-columns: repeat(1, 1fr);

        .content {
          gap: 2vmax;

          .content-title {
            font-size: 3vmax;
          }

          .content-text {
            font-size: 2vmax;
            line-height: 2.8vmax;
          }
        }
      }
    }
  }
}

#start {
  .outer-container {
    max-width: 80%;
    width: 100%;
    margin: 3em auto;

    display: flex;
    justify-content: center;
    gap: 1em;

    a {
      text-decoration: none;
    }
  }
}

#footer {
  font-size: 1vmax;
  display: flex;
  gap: 0.5em;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 1em;
  background: black;
  color: white;
}
