@import "assets/reset.css";
@import "assets/global.css";

/* Constants */
:root {
  /* theme: light */
  --main-container-background: #eee;
}

[theme="dark"] {
  --main-container-background: #111;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.2em;
  text-align: center;
}

.hidden {
  display: none;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;

  margin-top: 1em;
}

#main-container {
  max-width: 40em;
  width: 80%;

  background: var(--main-container-background);
  padding: 2em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

#danger-zone {
  color: #e6194b;
}

#identity,
#plan {
  font-weight: bold;
}
