@import "assets/reset.css";
@import "assets/global.css";

/* Constants */
:root {
  color-scheme: light dark;

  /* theme: light */
  --background: #dfdfdf;
}

[theme="dark"] {
  --background: #222;
}

/* Page-wide styles */
body {
  height: 100vh;
  position: fixed;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

#toolbox {
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  width: 100%;
  visibility: hidden;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  &.hidden {
    display: none;
  }

  .operations {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    gap: 0.2em;

    &.right {
      margin-left: auto;
      margin-right: 0.4em;
    }

    &.hidden {
      visibility: hidden;
    }

    button {
      position: relative;

      &.hidden {
        display: none;
      }

      .keyboard {
        position: absolute;
        right: 1px;
        bottom: 0;
        color: #888;
      }
    }
  }
}

#canvas {
  width: 100%;
  flex-grow: 1;
  max-height: 100%;
  overflow: hidden;
}

/* Banner shown when the save data is loading */
#save-data-is-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--color);
  background: var(--background);

  border: 1px solid #888;
  padding: 1em;

  width: 6em;

  &.hidden {
    display: none;
  }
}
