/* Constants */
:root {
  color-scheme: light dark;

  /* theme: light */
  --background: #dfdfdf;
  --information-flow-step-title-background: #eee;
}

[theme="dark"] {
  --background: #222;
  --information-flow-step-title-background: #111;
}

/* Page-wide styles */
body {
  height: 100vh;
  position: fixed;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

#toolbox {
  visibility: hidden;

  margin: 0.2em 0.2em 0 0.2em;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;

  &.hidden {
    display: none;
  }

  .operations {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    gap: 0.2em;

    &.left {
      justify-content: left;
    }

    &.center {
      justify-content: center;
    }

    &.right {
      justify-content: right;
    }

    &.hidden {
      visibility: hidden;
    }

    button {
      position: relative;

      &.hidden {
        display: none;
      }

      .keyboard {
        position: absolute;
        right: 1px;
        bottom: 0;
        color: #888;
      }
    }
  }
}

#information-flow-progression-current {
  width: 2em;
}

#information-flow-step-title {
  min-height: 1.2em;
  border: 1px solid #888;
  background: #eee;
  padding: 0.3em;
  margin: 0 0.2em 0 0.2em;

  background: var(--information-flow-step-title-background);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  text-wrap: nowrap;

  &.hidden {
    display: none;
  }
}

#canvas {
  width: 100%;
  flex-grow: 1;
  max-height: 100%;
  overflow: hidden;
}

/* Banner shown when the save data is loading */
#save-data-is-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--color);
  background: var(--background);

  border: 1px solid #888;
  padding: 1em;

  width: 6em;

  &.hidden {
    display: none;
  }
}
