/* Constants */
:root {
  color-scheme: light dark;

  /* theme: light */
  --color: #000;
  --background: #dfdfdf;
  --information-flow-step-title-background: #eee;
  --button-color: #000;
  --button-background: #e9e9ed;
  --button-border-color: #8f8f9d;
  --button-hover-background: #d0d0d7;
  --button-active-background: #b1b1b9;
}

[theme="dark"] {
  --color: #ddd;
  --background: #222;
  --information-flow-step-title-background: #111;
  --button-color: #ddd;
  --button-background: #000;
  --button-border-color: #8f8f9d;
  --button-hover-background: #2f2f28;
  --button-active-background: #4e4e46;
}

/* Page-wide styles */
body {
  color: var(--color);
  background: var(--background);
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100vh;

  font-family: JetBrains Mono;

  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

b {
  font-weight: bold;
}

/* Page-wide styles for buttons */
button {
  font-family: JetBrains Mono;

  /* Show a pointer icon over buttons */
  cursor: pointer;

  /* Remove 300ms delay on mobile */
  touch-action: none;

  border-radius: 3px;
  border: 1px solid var(--button-border-color);

  color: var(--button-color);
  background: var(--button-background);

  &:hover {
    background: var(--button-hover-background);
  }

  &:active {
    background: var(--button-active-background);
  }
}

#toolbox {
  margin: 0.2em 0.2em 0 0.2em;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;

  .operations {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    gap: 0.2em;

    &.left {
      justify-content: left;
    }

    &.center {
      justify-content: center;
    }

    &.right {
      justify-content: right;
    }

    button {
      position: relative;

      &.hidden {
        display: none;
      }

      .keyboard {
        position: absolute;
        right: 1px;
        bottom: 0;
        color: #888;
      }
    }
  }
}

#information-flow-progression-current {
  width: 2em;
}

#information-flow-step-title {
  min-height: 1.2em;
  border: 1px solid #888;
  background: #eee;
  padding: 0.3em;
  margin: 0 0.2em 0 0.2em;

  background: var(--information-flow-step-title-background);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  text-wrap: nowrap;

  &.hidden {
    display: none;
  }
}

#canvas {
  width: 100%;
  flex-grow: 1;
  max-height: 100%;
  overflow: hidden;
}

/* Banner shown when the save data is loading */
#save-data-is-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--color);
  background: var(--background);

  border: 1px solid #888;
  padding: 1em;

  width: 6em;

  &.hidden {
    display: none;
  }
}
